@import "../../node_modules/bootstrap/scss/functions";

$primary: #ea468f;
$dbtMint: rgb(226, 241, 234);
$btn-border-radius: 0;
$border-radius: 0;
$custom-select-border-radius: 0;

$modal-backdrop-bg: #e6f6f4;

$font-family-base: Avenir Next, Helvetica Neue, Helvetica, Arial, sans-serif;

@import "../../node_modules/bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";

li {
  list-style: none;
}

.row {
  margin: 1rem 0;
}

.panel {
  background-color: $dbtMint;
  padding: 1rem 1rem 1rem 1rem;
  &.address {
    padding: 1rem 1rem 5rem 1rem;
    height: 100%;
    position: relative;
    .pull-bottom {
      position: absolute;
      bottom: 1rem;
    }
  }
}

h6, .h6 {
  margin: 1rem 0 0 0;
}

.form-check {
  label {
    line-height: 1.85rem;
  }
}

@import "../components/loading-indicator/_scss/LoadingIndicator";
@import "../components/cart/voucher/_scss/VoucherComponent";
